body{
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    color: white;
    padding: 20px;
}

#perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header p {
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 10px;
    font-weight: bold;
}

.pesquisa{
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 40px;
}

.pesquisa input{
    width: 700px;
    border-radius: 50px;
    font-size: 30px;
    padding-left: 30px;
}

.grupo-cards{
    display: flex;
    justify-content: space-around;
}

.card{
    height: 284px;
    width: 219px;
    background-position: center;
    background-size: cover;
    border-radius: 34px;
    cursor: pointer;
    transition-delay: 0.2s;
    transition-duration: 0.2s, 0.2s;
}

.card:hover{
    opacity: 0.7;
}
.card p {
    color: white;
    font-size: 40px;
    padding-left: 25px;
    padding-top: 175px;

}
.grupo-anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 430px;
    margin-top: 50px;
}

.card-anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 70px;
   
}
.anuncio-le{
    width: 50%;
    text-align: center;
}

.anuncio-le p{
    font-size: 40px;
    font-weight: bold;
}

.anuncio-le button{
    font-size: 40px;
    background-color: black;
    color: white;
    height: 60px;
    width: 50%;
    border-radius: 50px;
    cursor: pointer;
}
.anuncio-ld{
    width: 50%;
    height: 80%;
    background-image: url(gato_laranja.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 70px;
    margin: 20px;
}
.grupo-dicas{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.dicas-le{
width: 50px;
}
.dicas-le{
    width: 50%;
}

.dicas-le h1{
    font-size: 41px;
    font-weight: bold;
}
.dicas-le p{
    font-size: 28px;
    color: #5C5C5C;
}

.dicas-le span{
    font-weight: bold;
    
}

.dicas-ld img{
    width: 684px;
    height: 800px;
    border-radius: 20px;
    
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 800px;
}

footer h1{
    font-size: 24px;
    font-weight: bold;

}
.grupo-assinar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grupo-assinar input{
    height: 50px;
    width: 500px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 10px;
    color: white;
}

.grupo-assinar button{
    height: 50px;
    width: 200px;
    background-color: #EBC154;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    border-radius: 10px;
    border: 0px solid #EBC154;
    cursor: pointer;
}

.menu-rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.menu-rodape p{
    margin-left: 20px;
    font-size: 30px;
    text-transform: uppercase;
}
    .menu-itens ul{
        display: flex;
        margin-right: 50px;
    }
    .menu-itens li{
        margin-left: 40px;
        list-style-type: none;
        font-size: 18px
    }

      .iten-selecionado{
        color: #EBC154;
        font-weight: bold;
    }

    footer hr{
        color: white;
        border: 1px solid white;
        margin-top: -30px;
    }
    
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    